{% extends 'base.html.twig' %}

{% block title %}Gestions des gifs{% endblock %}

{% block body %}
<div id="gifManagerContainer">
<p>Des gifs à rajouter , supprimer mettre en favoris ? c'est par ici ! </p>

 <div id="drop_file_zone" >
        <div id="drag_upload_file">
            <p>Faite glisser vos fichiers </p>
            <p>ou</p>
            <form enctype="multipart/form-data"  method="post">
            <p><input accept="image/gif, image/jpeg" class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple /></p>
            <input type="file" id="selectfile" multiple>
            <input type="hidden" value="{{ username }}"id="username" >
            <button class="box__button" type="button">Upload</button>
            </form>
        </div>
    </div>
{# <form class="box" method="post" action="" enctype="multipart/form-data">
  <div class="box__input">
    
    <label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>
    <button class="box__button" type="submit">Upload</button>
  </div>
  <div class="box__uploading">Uploading&hellip;</div>
  <div class="box__success">Done!</div>
  <div class="box__error">Error! <span></span>.</div> #}
</form>

</div>
{% endblock %}
