{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'interface utilisateur {{ username }} {% endblock %}

{% block body %}

<p>Bienvenue sur l'interface utilisateur "{{ username }}" </p>

{% endblock %}
