{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<p>Gerer les informations de votre compte , modifier le mot de passe , c'est pars ici ! </p>
{% endblock %}
